body{
    background-image: url(assets/bg-galaxy.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

