body{
    background-image: url(assets/bg-galaxy.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.focus-body{
   margin-top: 80px;
   font-size: 20px;
}

.focus-body h1{
    font-size: 50px;
}

.focus-body span{
    font-weight: 900;
    font-size: 30px;
}


.focus-body button{ 
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 15px 25px;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 20px;
}

.focus-body input{
    margin: 20px;
}



.icon-button{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.icon-button{
    font-size: 30px;
}

audio{
    display: none;
}


#volume-input{
    appearance: none;
    margin-top: 30px;
    background: white;
    border-radius: 40px;
    height: 5px;
}

#volume-input::-webkit-slider-thumb{
  background: white;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}